body {
    background-color: #f7f7f9 !important;
}

.container-fluid {
    margin-top: 7%;
    margin-bottom: 7%;
}

nav {
    box-shadow: 0 5px 5px -5px #333;
}

footer {
    box-shadow: 0 -5px 5px -5px #333;
}

img {
    position: absolute;
    top: 0;
    left: 1.2%;
    z-index: 9999;
}

pre code {
    display: flex;
    flex-direction: column;
}

#preloader {
    position: absolute;
    top: 50%;
    left: 48%;
    font-size: 2rem;
    z-index: 999;
}

.done {
    opacity: 0;
}

.opacity {
    background-color: white;
    opacity: 0.1;
    z-index: 1;
}

.gallery {
    min-height: 350px;
}

.gallery img {
    padding: 0.2em;
}

ol {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 1rem !important;
}

.droptarget {
    float: left;
    width: 40%;
    min-height: 100px;
    border: 1px solid #aaaaaa;
    margin: auto;
    background-color: white;
}

.content-side {
    min-height: 65% !important;
}

.form-group.card-block {
    margin-bottom: 0;
}

#carImage {
    height: 200px;
}

#carImage img {
    position: inherit;
}