body {
    background-color: #f7f7f9 !important;
}

.container-fluid {
    margin-top: 7%;
    margin-bottom: 7%;
}

nav {
    box-shadow: 0 5px 5px -5px #333;
}

footer {
    box-shadow: 0 -5px 5px -5px #333;
}

img {
    position: absolute;
    top: 0;
    left: 1.2%;
    z-index: 9999;
}

pre code {
    display: flex;
}